.portfolio a {
  position: relative;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  
}

.portfolio a:hover {
  box-shadow: 0 0 10px #1D27E1, 0 0 25px #001eff, 0 0 50px #1D27E1;
  transition-delay: 0.6s;
}

.portfolio a span {
  position: absolute;
}

.portfolio a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.portfolio a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.portfolio a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.portfolio a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}
 
.portfolio a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.portfolio a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.portfolio a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.portfolio a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.portfolio a:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.portfolio a:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/*======================== Cards =====================*/

.card {
    width: 320px;
    height: 430px;
}

.img {
    width: 320px;
    height: 350px;
}